@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
$elementWidth: 400px;
$formWidth: 500px;
$imgWidth: 800px;
$mobileWidth: 100%;
$mobileFormWidth: 300px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.row {
    display: flex;
}

.step-content {
    width: 100%;
}

label {
    font-size: 18px;
}

.input-label {
    font-size: 12px;
    width: $elementWidth;
}


select,
input {
    width: $elementWidth;
    height: 40px;
    margin: 4px auto 20px;
    padding-left: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    background-color: #f6f6f6;
    border: 1px solid rgb(197, 197, 197);


    &:focus {
        border: 1px solid #676767;
    }
}

button {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    background-color: transparent;
    border: none;

    a {
        width: 125px;
        padding: 15px;
        background: #b9a082;
        text-align: center;
        font-weight: 600;
        font-size: 16px;
        margin: 20px auto 0;
        cursor: pointer;
        display: inline-block;
        color: white;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
            background: #968065;
        }
    }
}



// LEFT COLUMN

.left-column {
    width: 100%;
    height: 100%;
    flex: 1;
    z-index: 10;
    display: flex;

    flex-direction: column;
    background: rgb(179, 39, 70);
    background: radial-gradient(circle, rgba(179, 39, 70, 1) 19%, rgba(125, 25, 47, 1) 80%, rgba(117, 23, 41, 1) 100%);
    height: 100vh;
    box-shadow: 2px 0px 4px 0px rgb(43, 43, 43);

    .column-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        height: 100%;

        .logo {
            width: 250px;
        }

        .motto {
            margin-top: 25px;

            p {
                color: white;
                font-weight: 500;
                font-size: 1.4rem;
            }
        }
    }

    .socials ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        list-style: none;

        li {
            color: white;
        }
    }
}

// RIGHT COLUMN

.right-column {
    flex: 2;
    display: flex;
    align-items: center;
    // overflow: hidden;
    margin: 0 auto;
}

.form-width {
    width: $formWidth;

}

.img-section-width {
    width: $imgWidth;
}

.survey-form {
    .fields {
        width: $elementWidth;
        margin: 25px auto 0;

        .gender-section {
            position: relative;
            input[type="radio"] {
                width: 10px;
                height: 10px;
                transform: scale(1.5);
            }

            .require{
                
                position: absolute;
                width: $elementWidth;
                height: 100px;
                background-color: #fbfbfb;
                border: 1px solid rgb(125, 125, 125);
                transition: 0.4s;
                transform: scale(0);
                transform-origin: top;
            }
        }
    }

    .fields-img {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        height: 100%;
        margin-top: 1rem;
        background-color: #fff;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            list-style-type: none;
            text-align: center;
        }

        li {
            display: inline-block;
        }

        input[type="checkbox"][id^="pickImage"] {
            display: none;
        }

        label {
            border: 1px solid #e8e8e8;
            background-color: #fff;
            padding: 10px;
            display: block;
            position: relative;
            width: 100%;
            margin: 10px auto;
            cursor: pointer;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        label::before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid #b9a082;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        label img {
            height: auto;
            width: 120px;
            transition-duration: 0.2s;
            transform-origin: 50% 50%;
        }

        :checked+label {
            border-color: #b9a082;
        }

        :checked+label::before {
            content: "✓";
            background-color: #9d1f36;
            transform: scale(1);
        }

        :checked+label img {
            transform: scale(0.9);

            z-index: -1;
        }

    }
}

.step-content {
    display: none;
}

.current {
    display: block;
}



// MOBILE

@media screen and (max-width: 500px) {
    .row {
        flex-direction: column;
    }

    .input-label {
        font-size: 12px;
        width: $mobileWidth;
    }

    input,
    select {
        width: $mobileWidth;
        text-align: center;
        padding: 0;
    }

    .left-column {

        .column-content {
            height: 40vh;

            .logo {
                width: 175px;
                margin-top: 15px;

            }

            .motto {
                display: none;
                margin-bottom: 25px;

                p {
                    font-size: 1rem;
                }
            }
        }
    }

    .right-column {
        margin-top: 25px;
        padding: 5px 0 30px;
    }

    .form-width {
        width: $mobileWidth;
    }

    .img-section-width {
        width: 300px;
    }

    .survey-form {
        .fields {
            width: $mobileFormWidth;

            .gender-section{
                .require{
                    width: $mobileWidth;
                }
            }
        }

        .fields-img {

            h2{
                font-size: 18px;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
            }

            label {
                padding: 0;
            }

            label img {
                width: 100px;
            }
        }
    }


}

@keyframes reqAnimation {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}